<div class="bottom_settings_conteiner">
    <div class="center_block yellow_block">
        <div class="h_list">
            <div class="item">
                Copyright © 2018 Mulla. All Rights Reserved.
            </div>
            <div class="empty_item">
            </div>
            <div class="item">
                <img src="src/slack.png">
            </div>
            <div class="item">
                <img src="src/telegram.png">
            </div>
            <div class="item">
                <img src="src/facebook-logo.png">
            </div>
            <div class="item">
                <img src="src/vkontakte-logo.png">
            </div>
            <div class="item">
                <img src="src/mark-github.png">
            </div>
            <div class="item">
                <img src="src/bcoin_link.png">
            </div>
        </div>
    </div>
</div>

<script src="js/ResizeSensor.js"></script>